
.flag{
    display: flex;
    width: 500px; 
    margin-left: -50px;
    margin-top: -5px;
}

.flag div{
    width: 120px;
    display: flex;
    flex-direction: row-reverse;
    margin-left: 5px;                   /* increase this value to increase flag size */  
    padding-left: 0;
    margin-right: 5px;
   
}
.flag div select{
    width: 20px;
    height: 45px;                          /* height for flag arrow */       
    color: rgb(97, 94, 94);
    background-color: transparent;
}
.flag div select:focus{
    outline: none;
}


.flag input{
    background-color: transparent;
    width: 400px;
    height: 48px;
}

.flag input:focus{
    outline: none;
}

