.navbar{
    width: 100%;
    height: 100px;
    background-color: var(--primary-bg);
    display: flex;
    justify-content: start;
    align-items: center;
}

.navLogo{
    width: 15%;
    height: 50px;
    flex-shrink: 0;
    margin-top: 10px;
    margin-right: 10px;
}

.optionName{
    color: rgba(0, 0, 0, 0.75);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    display: flex;
}

.button{
    display: inline-flex;
    width: 100%;
    padding: 17px 22px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 11px;
    background: #931602;
    color: #F9FAFC;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
}
