.navbar{
    height: 58px;
    width: 100%;
    background-color: var(--primary-bg);
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 10;
    box-shadow: 0px 0px 4px 1px rgb(226, 225, 225);
    transition: top 1s ease-in-out;
}

.outerDiv{
    width: -webkit-fill-available;
}

.navLogo{
    width: 150px;
    height: 50px;
    flex-shrink: 0;
    margin-top: 10px;
    margin-right: 10px;
}

.optionName{
    color: rgba(0, 0, 0, 0.75);
    width: fit-content;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    margin-left: 5px;
    margin-top: 29px;
}

.button{
    display: inline-flex;
    width: 100px;
    padding: 9px 12px;
    justify-content: center;
    gap: 10px;
    border-radius: 8px;
    background: #931602;
    color: #F9FAFC;
    font-size: 12px;
    letter-spacing: 0.5px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
}

.sellRentButton{
    display: flex;
    width: 150px;
    height: 38px;
    padding: 4px 9px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #018191;
    flex-shrink: 0;
    color: #FFF;
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 13px;
    line-height: 24px; /* 150% */
}
.name{
    width: 180px;
    font-size: 13px;
    font-weight: 600;
    display: flex;
    color: black;
}

.counter{
    width: 15px;
    height: 15px;
    font-size: 9px;
    background-color: #931602;
    color: #ffffff;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    padding-top: 1.5px;
    box-shadow: 0px 0px 1px 1px white;
    top: 0;
    right: 0;
    margin-top: 8px;
    margin-right: -8px;
}
