.card{
    width: 28%;
    height: 53vh;
    flex-shrink: 0;
    background-color: #FFF;
    border: 3px solid #003E71;
    border-radius: 30px;
}

.imageDiv{
    width: 95px;
    height: 95px;
    flex-shrink: 0;
    background-color: #018191;
    margin: auto;
    border-radius: 50%;
    margin-top: 12%;
    position: relative;
}

/* Small screens */
@media screen and (max-width: 767px) {
    .card{
        width: 85%;
        height: 280px;
        margin: 0 5%;
    }
    .imageDiv{
        width: 65px;
        height: 65px;
        margin-top: 12%;
        position: relative;
    }
}
  
/* Medium screens*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .card{
        width: 33%;
        height: 300px;
        margin: 0px 10px;
    }
    .imageDiv{
        width: 65px;
        height: 65px;
        margin-top: 12%;
        position: relative;
    }
}