.icon{

}
.div1{
    width: 332px;
    height: 1014px;
    flex-shrink: 0;
    border: 100px;
    border-color: black;
    /* background-color: black; */
}

@media screen and (min-width: 768px) {
    .hid{
        display: hidden;
    }
  }
  
