.card{
    max-height: 40%;
    flex-shrink: 0;
    background-color: #FFF;
    border: 2px solid #003E71;
    border-radius: 20px;
    position: relative;
}

.imageNameDiv{
    display: flex;
    width: 100%;
    margin-top: 8%;
    margin-left: 6%;
    position: relative;
}

.image{
    width: 65px;
    height: 65px; 
    border-radius: 50%;
    border: 1.5px solid #003E71;
    padding: 2px;
    object-fit: cover;
}

.name{
    margin-left: 4%;
    position: absolute;
    top: 28%;
    left: 20%;
    font-weight: 600;
}

.story{
    /* display: -webkit-box; */
    -webkit-line-clamp: 7; /* Number of lines to display */
    -webkit-box-orient: vertical;
    overflow: scroll;
    text-overflow: ellipsis;
    cursor: pointer;
    color: #666;
}
.story::-webkit-scrollbar{
    display: none;
}

.cityTag{
    position: absolute;
    bottom: 8%;
    left: 10%;
    font-size: 14px;
    font-weight: 600;
    margin-top: 15px;
}
.cityUnderline{
    width: 91px;
    height: 4px;
    flex-shrink: 0;
    background: #A37F4F;
}

@media screen and (max-width: 768px) {
    .image{
        width: 50px;
        height: 50px; 
    }
    .name{
        margin-left: 6%;
        position: absolute;
        font-size: 14px;
        top: 28%;
        left: 18%;
    }
    .story{
        font-size: 14px;
        line-height: 21px;
    }    
}