.parentDiv{
    width: 32%;
    height: 26rem;
    position: relative;
    margin: 0px 20px;
}

.imageBlog{
    width: 100%;
    height: 22rem;
    border-radius: 8px;
}

.childDiv{
    width: 92%;
    height: 52%;
    background-color: white;
    position: absolute;
    bottom: 0px;
    left: 4%;
    border-radius: 8px;
}

.title{
    width: 85%;
    height: 27%;
    max-height: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
    font-size: 16px;
    font-weight: 600;
    margin: auto;
    margin-top: 15px;
}

.storyContainer {
    height: 30%;
    max-height: 30%; /* Adjust the height as needed */
    overflow: hidden;
}
.story{
    width: 85%;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Number of lines to display */
    -webkit-box-orient: vertical;
    color: #818181;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px; /* 162.5% */
    margin: auto;
    margin-bottom: 10px;
    overflow: scroll;
    text-overflow: ellipsis;
}
.story::-webkit-scrollbar{
    display: none;
}

.button{
    display: inline-flex;
    padding: 3% 9%;
    align-items: flex-start;
    border-radius: 7px;
    background: #931602;
    color: #FFF;
    font-size: 12px;
    line-height: 32px; /* 200% */
    position: absolute;
    left: 6%;
    bottom: 8%;
}


/* All media Queries */
/* tablet view */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .parentDiv{
        width: 400px;
        margin-right: 20px;
    }
    .imageDiv{
        width: 35vw;
        height: 26rem;
    }
    .title{
        font-size: 14px;
    }    
}

/* mobile view */
@media screen and (max-width: 550px) {
    .title{
        font-size: 14px;
        max-height: fit-content;
    }
    .parentDiv{
        width: 350px;
        height: 24rem;
        margin: 0 25px;
        margin-left: 9%;
    }
    .storyContainer{
        margin-top: -10px;
        margin-bottom: 5px;
    }
    .imageDiv{
        width: 65vw;
        height: 20vh;
    }
    .button{
        display: inline-flex;
        padding: 2% 7%;
        align-items: flex-start;
        border-radius: 7px;
        background: #931602;
        color: #FFF;
        font-size: 12px;
        line-height: 32px; /* 200% */
        position: absolute;
        left: 6%;
        bottom: 8%;
    }
}
@media screen and (min-width: 551px) and (max-width: 768px) {
    .title{
        font-size: 15px;
        max-height: fit-content;
    }
    .parentDiv{
        width: 450px;
        height: 24rem;
        margin: 0 25px;
        margin-left: 9%;
    }
    .storyContainer{
        margin-top: -15px;
        margin-bottom: 10px;
    }
    .imageDiv{
        width: 65vw;
        height: 20vh;
    }
}