.container{
    background-color: #C7A97E;
    height: fit-content;
    /* font-family: 'Telegrafico', sans-serif; */
}

.underline{
    width: 150px;
    height: 4px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #FFF;
    margin: auto;
    margin-top: 10px;
}

/* Small screens */
@media screen and (max-width: 767px) {
    .cardsDiv{
        overflow-x: scroll;
        justify-content: left;
    }
    .cardsDiv::-webkit-scrollbar{
        display: none;
    }
}