/* head div */
.mainDiv{
    background-color: white;
}
.heading{
    font-size: 45px;
    color: #018191;
    font-weight: 700;
    letter-spacing: 1px;
}

.imageDiv{
    width: 350px;
    height: 60vh;
    padding: 30px;
    padding-right: 0px;
}

.smallHeading{
    font-size: 14px;
    color: rgb(148, 146, 146);
}

.para{
    color: rgb(148, 146, 146);
    letter-spacing: 0.5px;
    font-size: 13px;
    width: 500px;
    margin-top: 10px;
}

.opening{
    width: fit-content;
    background-color: rgba(1, 129, 145, 0.22);
    color: #018191;
    margin: 30px 0px;
    padding: 10px 19px;
    font-weight: 600;
    font-size: 12px;
    border-radius: 25px;
    border: 1px solid #018191;
    cursor: default;
}

/* career section */
.h2heading{
    font-size: 34px;
    color: #f9a04c;
    font-weight: 900;
    letter-spacing: 1px;
}
.careerPara{
    color: rgb(93, 91, 91);
    letter-spacing: 0.5px;
    font-size: 12px;
    width: 400px;
    margin-top: 10px;
    line-height: 21px;
}

.oneDiv{
    background-color: rgb(255, 193, 182);
    width: 220px;
    margin: 10px;
    padding: 20px;
    height: 170px;
    color: #0d6773;
    border-radius: 5px;
    box-shadow: 0 0 3px 1px rgb(203, 203, 203);
    border: 1px solid white;
}
.threeDiv{
    background-color: rgb(100, 181, 135);
    width: 240px;
    height: 170px;
    padding: 20px;
    margin: 10px;
    color: rgb(243, 242, 242);
    border-radius: 5px;
    box-shadow: 0 0 3px 1px rgb(203, 203, 203);
    border: 1px solid white;
}

.image{
    width: 70px;
    height: 90px;
    margin: auto;
    padding: 10px 0px;
}
.h3{
    
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    font-size: 14px;
    width: 200px;
}

.twoDiv{
    background-color: rgb(232, 234, 233);
    width: 220px;
    height: 170px;
    padding: 20px;
    color: #018191;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 3px 1px rgb(203, 203, 203);
    border: 1px solid white;
    justify-content: end;
}

/* Recruitmnt Process */
.recruitmentSingleDiv{
    margin: 0px 10px;
    width: 200px;
    height: 200px;
    border: 1px solid #f9a04c;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
}
.imageRecruitment{
    width: 55px;
    height: 68px;
    margin: auto;
    padding: 5px 0px;
}
.h4Heading{
    color: #018191;
    padding-top: 20px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.6px;
}
.paraRecruitment{
    font-size: 12px;
    width: 140px;
    padding: 10px 0px;
    margin: auto;
    color: rgb(155, 153, 153);
}

/* job Openings */
.h4heading{
    font-size: 24px;
    color: #018191;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.underline{
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background-color: #018191;
    text-align: center;
}

.jobDiv{
    margin: 20px 0px;
    height: 140px;
    background: white;
    background-color: rgb(252, 250, 250);
    border-bottom: 1px solid #018191;
    position: relative;
    padding: 10px;
}
.jobDiv h5{
    font-size: 11px;
    margin: 10px 5px;
    font-weight: 600;
    letter-spacing: 0.6px;
    color: grey;
}
.jobheading{
    font-size: 17px;
    margin: 5px;
    font-weight: 600;
    letter-spacing: 0.6px;
    color: #195c92;
}
.jobButton{
    color: #f58013;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.5px;
    padding: 8px 25px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    border-radius: 4px;
}
.jobButton:hover{
    opacity: 0.8;
    color: white;
    background-color: #f58013;
}

