.card{
    height: 337px;
    max-height: 40%;
    flex-shrink: 0;
    background-color: #FFF;
    border-radius: 14px;
    position: relative;
}
.image{
    width: 100%;
    height: 100%; 
    border-radius: 14px;
    box-shadow: 0px 0px 8px 1px rgb(196, 195, 195);
}

.name{
    position: absolute;
    width: 160px;
    top: 25%;
    left: 15%;
    font-weight: 600;
    text-align: center;
    color: white;
    z-index: 1;
}

@media screen and (max-width: 768px) {
    .name{
        left: 0%;
        top:22%
    }
}