.servicesComponent{
    width: 90vw;
    margin: auto;
    margin-bottom: 70px;
}

.heading{
    color: var(--black-black-70, #283646);
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 160% */
    text-align: center;
}

.underline{
    width: 351px;
    height: 6px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #C88E20;
    margin: auto;
}

.wrapper {
    display: flex;
    margin: auto;
    width: 96vw;
    flex-wrap: wrap;
    gap: 24px 2%;
    margin-top: 50px;
}

/* Small screens */
@media screen and (max-width: 767px) {
    .heading{
        font-size: 22px;
    }
    .underline{
        width: 180px;        
    }   
    .wrapper {
        flex-wrap: nowrap;
        overflow-x: scroll;
        width: 95vw;
    }
    .wrapper::-webkit-scrollbar{
        display: none;
    }
}
  
/* Medium screens */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .heading{
        font-size: 26px;
    }
    .underline{
        width: 280px;        
    }   
    .wrapper {
        flex-wrap: nowrap;
        overflow-x: scroll;
        width: 95vw;
    } 
    .wrapper::-webkit-scrollbar{
        display: none;
    }
}
  

  