.servicesComponent{
    width: 90vw;
    margin: auto;
    margin-bottom: 70px;
}

.heading{
    color: var(--black-black-70, #283646);
    font-variant-numeric: lining-nums proportional-nums;
    /* font-family: Poppins; */
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 160% */
    text-align: center;
}

.underline{
    width: 351px;
    height: 6px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #C88E20;
    margin: auto;
}

.wrapper {
    display: flex;
    margin: auto;
    width: 96vw;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
    /* grid-auto-rows: 320px; */
    gap: 24px 2%;
    margin-top: 50px;
}
  

  