.card{
    width: 30%;
    height: 285px;
    flex-shrink: 0;
    background-color: #FFF;
    border: 2px solid #018191;
    border-radius: 30px;
    position: relative;
}

.heading{
    color: #000;
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    margin-left: 30px;
    margin-top: 10%;
}
.unorderedList{
    width: 90%;
    height: 97px;
    margin-left: 40px;
    margin-top: 10px;
}
.listItem{
    color: var(--text-body, #818181);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    list-style-type: disc;
    margin: 5px 0px;
}

.iconDiv{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 45%;
    height: 105px;
    flex-shrink: 0;
    border-radius: 55px 0px 30px 0px;
    background: rgba(72, 145, 211, 0.11);
}

.imgIconDiv{
   position: absolute;
   top:  22%;
   left: 40%;
}

.serviceIcon{
   margin: auto !important;
}

/* Small screens */
@media screen and (max-width: 767px) {
    .card{
        width: 78%;
        height: 250px;
        margin: 0px 0px 0px 20px;
    }
    .heading{
        font-size: 15px;
        font-weight: 600;
        margin-left: 30px;
        margin-top: 10%;
    }
    .unorderedList{
        height: 67px;
    }
    .listItem{
        font-size: 12px;
    }
}
/* screens */
@media screen and (min-width: 568px) and (max-width: 767px) {
    .card{
        width: 48%;
        height: 280px;
        margin: 0px 0px 0px 20px;
    }
    .heading{
        font-size: 19px;
        font-weight: 600;
        margin-left: 30px;
        margin-top: 5%;
    }
    .unorderedList{
        height: 77px;
    }
    .listItem{
        font-size: 15px;
    }
}
  
/* Medium screens */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .card{
        width: 42%;
        margin: 0px 5px;
    }
}