.loginContainer {
  display: flex;
  height: 100vh;
  overflow: hidden;
}
.heading {
  color: #000;
  text-align: center;
  font-family: Gotham;
  font-size: 33px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}

.slogan {
  color: #000;
  text-align: center;
  font-family: Mazzard;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
}
.leftContent {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 24px;
  background-color: #faeee0;
  position: relative;
}

.formContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 160px;
  padding-left: 60px;
}

.inputField {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  width: 50%;
  margin: auto;
  margin-top: -15px;
}

.button {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #931602;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 50%;
}

.buttonContainer {
  width: 50%;
  display: flex;
  margin-bottom: -8px;
}

.footerImage {
  position: absolute;
  width: 50%;
  margin-bottom: 50px;
  margin: auto;
  text-align: center;
  bottom: 0%;
  top: 60%;
  left: 25%;
}

.rightContainer {
  width: 50%;
  position: relative;
  overflow: hidden;
}

.notGet {
    color: #000;
    font-family: Mazzard;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 25px;
    margin-left: -70px;
  }
.rightImage {
  /* position: absolute; */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (max-width: 767px) {
  /* Mobile styles */
  .loginContainer {
    flex-direction: column;
    align-items: center;
  }

  .leftContent {
    position: relative;
    width: 100%;
    align-items: center;
    padding: 16px;
    text-align: center;
  }

  .rightContainer {
    position: relative;
    width: 100%;
    margin-top: 20px;
  }

  .formContainer {
    text-align: center;
    padding: 25px;
    width: 100%;
    margin-top: 200px;
  }

  .inputField {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    width: 90%;
    margin: auto;
    margin-top: 15px;
  }

  .button {
    margin-top: 20px;
    width: 90%;
  }

  .buttonContainer {
    width: 90%;
    display: flex;
    justify-content: center;
  }

  .footerImage {
    position: relative;
    width: 100%;
    margin: auto;
    top: -5%;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .rightImage {
    position: relative;
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  /* Tablet styles */
  .loginContainer {
    flex-direction: column;
    align-items: center;
  }
  .logo {
    margin-bottom: 180px;
  }

  .leftContent {
    position: relative;
    width: 100%;
    align-items: center;
    padding: 16px;
    text-align: center;
    /* top: 20%; */
  }

  .rightContainer {
    position: relative;
    width: 100%;
    margin-top: 20px;
  }

  .formContainer {
    padding: 25px;
    width: 464px;
    margin-top: 20px;
    align-items: center;
  }

  .inputField {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    width: 90%;
    margin: auto;
    margin-top: 15px;
  }

  .button {
    color: #FFF;
    font-family: Mazzard;
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
  }

  .buttonContainer {
    width: 464px;
    height: 72px;
    display: flex;
    justify-content: center;
  }

  .footerImage {
    position: relative;
    width: 100%;
    margin: auto;
    top: -4%;
    bottom: 0;
    left: 15%;
    right: 0;
  }

  .notGet {
    color: #000;
    font-family: Mazzard;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
  }

  .rightImage {
    position: relative;
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}
