.calculatorDiv{
    background-color: white;
     /* background: url(""); */
    width: 40%;
    height: fit-content;
    margin-left: 5%;
    border-radius: 8px;
    border: 3px solid #018191; 
}

.formInput{
    border: 2px solid #018191;
    color: black;
    width: 50%;
    margin: 16px;
    border-radius: 5px;
    padding: 6px 8px;
    color: #018191;
}

.formInput:focus{
    outline: none;
}
.button{
    display: flex;
    padding: 1% 7%;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #018191;
    color: white;
    background-color: #018191;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 171.429% */
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}
.button:hover{
    opacity: 0.8;
}

.emiDiv{
    margin-left: 5%;
    font-weight: 600;
    color: #086978;
}

.sideDiv{
    height: 80%;
    width: 80%;
    text-align: center;
}

.Md_quotes{
    font-size: 36px;
    width: 450px;
    margin-top: 50px;
    color: #095c69;
    font-weight: 600;
}