.servicesComponent{
    width: 95%;
    margin: auto;
    margin-top: 40px;
    padding-bottom: 70px;
}

.heading{
    color: var(--black-black-70, #283646);
    font-variant-numeric: lining-nums proportional-nums;
    /* font-family: Poppins; */
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 160% */
    text-align: center;
}

.underline{
    width: 18%;
    height: 6px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #C88E20;
    margin: auto;
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0px 1%;
    margin-top: 50px;
}
  

  