.servicesComponent{
    width: 95%;
    margin: auto;
    margin-top: 40px;
    padding-bottom: 70px;
}

.heading{
    color: var(--black-black-70, #283646);
    font-variant-numeric: lining-nums proportional-nums;
    /* font-family: Poppins; */
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 160% */
    text-align: center;
}

.underline{
    width: 160px;
    height: 6px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #C88E20;
    margin: auto;
}

.wrapper {
    display: flex;
    gap: 0px 1%;
    margin-top: 50px;
}
.dot{
    width: 2px;
    border: 50%;
    background-color: grey;
}
  
@media screen and (max-width:768px) {
    .servicesComponent{
        margin-top: 10px;
    }
    .wrapper {
        margin-top: 40px;
        overflow: scroll;
    }
    .wrapper::-webkit-scrollbar{
        display: none;
    }
}
@media screen and (min-width:768px) and (max-width:1023px){
    
    .wrapper {
        overflow: scroll;
    }
    .wrapper::-webkit-scrollbar{
        display: none;
    }
}



  