.servicesComponent{
    width: 100%;
    margin: auto;
    padding: 2%;
    background-color: #9DACA1;
}

.heading{
    color: #FFF;
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.paragraph{
    color: #FFF;
    text-align: center;
    font-style: normal;
    margin-top: 5px;
    font-weight: 300;
}

.fieldName{
    color: #FFF;
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 137.5% */
    margin-bottom: 8px;
    margin-top: 1%;
}

.inputField{
    width: 32vw;
    height: 40px;
    flex-shrink: 0;
    background-color: #9DACA1;
    border: 2px solid white;
    border-radius: 7px;
    color: white;
    padding-left: 7px;
}
.inputField:focus{
    outline: none;
}
.textArea{
    width: 74.5vw;
    height: 180px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 2px solid #FFF;
    background-color: #9DACA1;
    color: white;
    padding: 5px;
    
}
.textArea:focus{
    outline: none;
}


.button{
    display: inline-flex;
    padding: 14px 34px;
    justify-content: flex-end;
    align-items: center;
    border-radius: 6px;
    background: #FFF;
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: bolder;
    line-height: 150%; /* 25.5px */
} 

/* Media Queries */

/* Small devices (mobile) */
@media screen and (max-width: 767px) {
    .inputField {
        width: 78vw;
    }
    .textArea {
        width: 78vw;
    }
}

 