.gridDivs{
    padding:2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.divCardSize{
    width:  23rem;
    padding: 18px;
}

.cardBorder{
    border-radius: 0.5rem 0.5rem 0rem 0rem;
}

.heading{
    color: var(--black-black-70, #283646);
    font-variant-numeric: lining-nums proportional-nums;
    /* font-family: Poppins; */
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 160% */
    text-align: center;
}
.underline{
    width: 351px;
    height: 6px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #C88E20;
    margin: auto;
}