.heading{
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.button{
    display: flex;
    width: 140px;
    height: 45px;
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 11px;
    background: #89A190;
    color: #F9FAFC;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 111.111% */
}
.cardsDiv{
    display: flex;
    width: 80%;
    justify-content: left;
    margin: 0 10%;
}

/* media queries */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .button{
        width: 130px;
        height: 45px;
    }
    .cardsDiv{
        overflow-x: scroll;
    }
    .cardsDiv::-webkit-scrollbar{
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .button{
        width: 130px;
        height: 45px;
    }
    .cardsDiv{
        overflow-x: scroll;
    }
    .cardsDiv::-webkit-scrollbar{
        display: none;
    }
}