.servicesComponent{
    width: 95%;
    margin-top: 90px;
    padding-bottom: 20px;
    margin-right: 0px;
}

.heading{
    color: #283646;
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 160% */
    margin-left: 7.5%;
}

.underline{
    width: 176px;
    height: 6px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #C88E20;
}

.shortPara{
    color: rgba(0, 0, 0, 0.46);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 162%; /* 32.4px */
}

.wrapper {
    display: flex;
    width: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
    gap: 3%;
    padding: 20px 20px;
    margin-top: 50px;
    margin-left: 6%;
}
  

@media screen and (max-width: 768px) {
    .servicesComponent{
        margin-top: 40px;
    }
    .wrapper{
        margin-top: 10px;
    }
    .heading{
        font-size: 28px;
    }
}
  