@tailwind base;

@tailwind components;

@tailwind utilities;

:root {
  --primary-bg: #faeee0;

  --footer-bg: #a37f4f;

  --black-black-70: #283646;
}

body {
  background-color: var(--primary-bg);

  font-family: "Poppins";

  overflow-x: hidden;
.overlow-scroll::-webkit-scrollbar{
    display: none;
}

}
