@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary-bg: #FAEEE0;
    --footer-bg: #A37F4F;
    --black-black-70: #283646;
}
body{
    background-color: var(--primary-bg);
    font-family: 'Poppins';
}
